.App-logo {
  pointer-events: none;
  width: clamp(100px, 20vw, 200px);
}

body {
  background-color: #fdf4ee;
  font-size: clamp(10px, 3.5vw, 30px);
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 10% auto;
  color: #252423;
}

.App-header h1 {
  margin: 20px 0px 0px 0px;
  color: #a57e66;
}

.App-header p {
  text-align: left;
  border-left: clamp(2.5px, 0.5vw, 5px) solid #252423;
  padding-left: clamp(10px, 2vw, 20px);
}

.App-link {
  color: #a57e66;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-color: #fdf4ee;
  margin: 0px 10px;
}
